/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic styles
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 15px/1.5 "Roboto", sans-serif; }

body {
  background: #e5e5e5;
  color: #000;
  margin: 0 0 3rem 0;
  padding: 0;
}

header {
  background: #455a64;
  color: #fff;
  padding: 1rem;
  width: 100%
}

.container {
  margin: 0 auto;
  max-width: 500px;
}

.row { margin-bottom: 1rem; }

.row:last-of-type { margin-bottom: 0; }

.column {
  float: left;
  margin-left: 2rem;
}

.column:first-child { margin: 0; }

.full { width: 100%; }
.half { width: 46.3%; }

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 34px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 { font-size: 16px; }

/* ==========================================
   Page elements
   ========================================== */

.box {
  background: #fff;
  border: 1px solid #d5d5d5;
  margin: 2rem 0;
  padding: 2rem;
}

/* ==========================================
   Profile
   ========================================== */

.profile {
  margin: 0 auto;
  width: 100%
}

.profile__avatar {
  background: #f7f7f7;
  background-size: cover;
  height: 180px;
  padding: 1rem;
}

/* ==========================================
   Forms
   ========================================== */

.textfield {
  background: #f7f7f7;
  border: none;
  color: #000;
  display: block;
  font-weight: 300;
  outline: none;
  padding: .7rem 1rem;
  width: 100%
}

.textfield:focus { background: #f3f3f3; }

.textfield--border { border: 1px solid #ddd; }

.textfield--textarea {
  height: 188px;
  resize: none;
}

.button-primary {
  background: #0097a7;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: .8rem 1rem;
  width: 100%;
}

::-webkit-input-placeholder { color: #777; }
::-moz-placeholder { color: #777; }
::-ms-placeholder { color: #777; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==========================================
   Clearfix
   ========================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
