/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic styles
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 16px/1.5 "Roboto", sans-serif; }

body {
  background: #e5e5e5;
  color: #000;
  margin: 0 0 3rem 0;
  padding: 0;
}

header {
  background: #1976d2;
  color: #fff;
  padding: 3rem 2rem 1.5rem 2rem;
  width: 100%
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.row { margin: .5rem 0; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 2rem;
}

.column:first-child { margin: 0; }

.full { width: 100%; }
.half { width: 46.3%; }

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 34px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 { font-size: 18px; }

.page-title { margin: 0; }

/* ==========================================
   Page elements
   ========================================== */

.box {
  background: #fff;
  border: 1px solid #dedede;
  margin: 0;
  padding: 2rem;
}

.box__section-header {
  display: block;
  color: #2196f3;
  font-size: 14px;
  font-weight: 5  00;
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
}

.row__user--checkbox { margin-top: 2rem; }

.checkbox-label { display: block; }

.keep-private { margin-left: .5rem; }

/* ==========================================
   Profile
   ========================================== */


/* ==========================================
   Forms
   ========================================== */

.textfield {
  border: none;
  border-bottom: 1px solid #ddd;
  color: #000;
  display: block;
  outline: none;
  padding: .8rem 1rem;
  width: 100%
}

.textfield:focus {border-bottom: 1px solid #2196f3; }

.textfield--textarea {
  height: 135px;
  resize: none;
}

.remember {
  color: #777;
  margin-left: .3rem;
}

.button-primary {
  background: #2196f3;
  border: none;
  color: #fff;
  font-weight: 300;
  margin: 2rem 0 0 0;
  padding: .8rem 1rem;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==========================================
   Clearfix
   ========================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    clear: both;
    *zoom: 1;
}
