/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic styles
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 16px/1.5 "Roboto", sans-serif; }

body {
  background: #e5e5e5;
  color: #000;
  margin: 0 0 5rem 0;
  padding: 0;
}

header {
  background: #1976d2;
  color: #fff;
  padding: .8rem;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}

.row { margin-bottom: 1rem; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 4%;
}

.column:first-of-type { margin: 0; }

.full {
  float: none;
  width: 100%;
}

.two-thirds { width: 64.5%; }

.half { width: 47.4%; }

@media screen and (max-width: 500px) {
  .half {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}

.third { width: 31.5%; }

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 32px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 { font-size: 18px; }

.page-title {
  color: #fff;
  margin: 0;
}

/* ==========================================
   Navigation
   ========================================== */

nav { font-size: 15px; }

nav a {
  color: #55a0eb;
  text-decoration: none;
}

nav a:hover { color: #a1cbf4; }

.current {
  cursor: default;
  color: #a1cbf4;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: .8rem;
}

nav li:first-child { margin-left: 0; }

/* ==========================================
   Page elements
   ========================================== */

.hero {
  background: #2196f3;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
}

.box {
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 2rem;
  padding: 2rem;
}

.box__section-header {
  display: block;
  color: #2196f3;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: .5rem;
  padding-left: 20px;
  text-transform: uppercase;
}

.row__user--checkbox { margin-top: 2rem; }

/* ==========================================
   Profile
   ========================================== */

.profile__avatar {
  background: #fff url('../images/user.png') no-repeat;
  background-position: 50% 10%;
  background-size: 54px;
  border-radius: 50%;
  height: 50px;
  margin: 0 0 0 auto;
  position: relative;
  width: 50px;
}

.profile__avatar--change {
  background: #82b1ff;
  background-size: 33px 139px;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
  right: 0;
  top: 35px;
}

.profile__avatar--change:hover:before { color: #fff176; }

.profile__avatar--change:before {
  color: #fff;
  content: "+";
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

/* ==========================================
   Forms
   ========================================== */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.textfield {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #000;
  display: block;
  outline: none;
  padding: .8rem .5rem;
  width: 100%
}

.textfield:focus { border-bottom: 1px solid #2196f3; }

.textfield--textarea {
  height: 84px;
  resize: none;
}

.button-primary {
  background: #2196f3;
  border: none;
  color: #fff;
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.button-primary:hover { background: #1e88e5; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-option {
  cursor: pointer;
  display: block;
}

.radio-option {
  cursor: pointer;
  display: block;
}

.checkbox-option span, .radio-option span {
  margin-left: .5rem;
}

.mail {
  background: #fff  url('../images/icons/mail.png') left no-repeat;
  background-size: 13px;
}

.lock {
  background: #fff  url('../images/icons/lock.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.location {
  background: #fff  url('../images/icons/location.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.about {
  background: #fff url('../images/icons/user.png') left no-repeat;
  background-size: 13px;
}

.notification {
  background: #fff url('../images/icons/notify.png') left no-repeat;
  background-size: 13px;
}

/* ==========================================
   Clearfix
   ========================================== */

 .cf {
   clear: both;
   *zoom: 1;
 }

.cf:before,
.cf:after {
  clear: both;
  content: " ";
  display: table;
}
