/* ==========================================
   Style guide
   ========================================== */

.color-primary { #607d8b; }
.color-dark-primary { #455a64; }
.color-light-primary { #cfd8dc; }
.color-accent { #4caf50; }
.color-background { #eee; }
.color-text { #212121; }

/* ==========================================
   Basic page elements
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 15px/1.5 "Roboto", sans-serif; }

body {
  background: #eee;
  color: #212121;
  margin: 0 0 5rem 0;
  padding: 0;
}

header {
  background: #1976d2;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}

a { color: #727272; }

/* ==========================================
   Structure
   ========================================== */

.row { margin-bottom: 1rem; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 4%;
}

.column:first-of-type { margin: 0; }

.full {
  float: none;
  width: 100%;
}

.half { width: 48%; }

@media screen and (max-width: 500px) {
  .half {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}

.nav__wrapper { width: 85%; }

.avatar--small__wrapper {
  margin: 0;
  width: 15%;
}

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 34px;
}

.page-title {
  color: #fff;
  margin: 0;
}

/* ==========================================
   Navigation
   ========================================== */

nav { float: left; }

nav a {
  color: #64b5f6;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

nav a:hover { color: #bbdefb; }

.current {
  color: #bbdefb;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 1rem;
}

nav li:first-child { margin-left: 0; }

/* ==========================================
   Page elements
   ========================================== */

.page-heading {
  background: #2196f3;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
}

.box {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #d6d6d6;
  margin-bottom: 2rem;
  padding: 2rem;
}

.box__header {
  color: #2196f3;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 20px;
  text-transform: uppercase;
  width: 100%;
}

.picture {
  background: url('../images/icons/picture.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.email {
  background: url('../images/icons/email.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.lock {
  background: url('../images/icons/password.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.personal {
  background: url('../images/icons/location.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.about {
  background: url('../images/icons/bio.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.notification {
  background: url('../images/icons/notify.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

/* ==========================================
   Profile
   ========================================== */

.avatar {
  background: #fff url('../images/user.png') no-repeat;
  border-radius: 50%;
  display: block;
  padding: 0;

}

.avatar--large {
  background-position: 50% 10px;
  background-size: cover;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.avatar--small {
  background-position: 50% 2px;
  background-size: cover;
  float: right;
  height: 22px;
  width: 22px;
}

.avatar--large .change {
  background: rgba(255, 255, 255, 0.4) url('../images/icons/camera.png') center no-repeat;
  background-size: 32px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.avatar--large:hover .change { display: block; }

@media screen and (max-width: 400px) {
  .avatar--large .change { display: block; }
}

/* ==========================================
   Forms
   ========================================== */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.textfield {
  border: 1px solid #eee;
  border-radius: 2px;
  color: #212121;
  display: block;
  outline: none;
  padding: .8rem;
  width: 100%;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  -o-transition: border .3s ease;
  transition: border .3s ease;
}

.textfield:focus { border: 1px solid #c6c6c6; }

.textfield--textarea {
  height: 180px;
  resize: none;
}

.button-primary {
  background: #2196f3;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-weight: 500;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

.button-primary:hover { background: #1e88e5; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-wrapper { margin-top: 2rem; }

.checkbox-option {
  cursor: pointer;
  display: inline-block;
}

.radio-wrapper { display: block; }

.radio-option {
  cursor: pointer;
  margin-bottom: .2rem;
}

.radio-option:last-child { margin-bottom: 0; }

.checkbox-option span, .radio-option span { margin-left: .5rem; }

/* ==========================================
   Clearfix
   ========================================== */

 .container, .row nav {
   clear: both;
   *zoom: 1;
 }

.container:before, .row:before,
.container:after, .row:after {
  clear: both;
  content: " ";
  display: table;
}
