/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic styles
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 14px/1.5 "Roboto", sans-serif; }

body {
  background: #e5e5e5;
  color: #000;
  margin: 0 0 5rem 0;
  padding: 0;
}

header {
  background: #1976d2;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

.row { margin-bottom: 1rem; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 2rem;
}

.column:first-of-type { margin: 0; }

.full { width: 100%; }
.half { width: 47.5%; }

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 34px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 { font-size: 18px; }

.page-title { margin: 0; }

/* ==========================================
   Page elements
   ========================================== */

.box {
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 2rem;
}

.box__section-header {
  display: block;
  color: #2196f3;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0;
  text-transform: uppercase;
}

.row__user--checkbox { margin-top: 2rem; }

.checkbox-label {
  cursor: pointer;
  display: block;
}

.keep-private { margin-left: .5rem; }

/* ==========================================
   Profile
   ========================================== */

.profile__avatar {
  background: #bbdefb;
  border-radius: 50%;
  height: 233px;
  margin: 0 auto;
  position: relative;
  width: 233px;
}

.profile__avatar--change {
  background: #2196f3;
  background-size: 33px 139px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 50px;
  top: 170px;
  right: 5px;
}

.profile__avatar--change:hover:before { color: #fff176; }

.profile__avatar--change:before {
  color: #fff;
  content: "+";
  display: block;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
}

/* ==========================================
   Forms
   ========================================== */

fieldset {
  border: none;
  margin: 0;
  padding: 2rem;
}

.textfield {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #000;
  display: block;
  outline: none;
  padding: .8rem 1rem;
  width: 100%
}

.textfield:focus { border-bottom: 1px solid #2196f3; }

.textfield--textarea {
  height: 135px;
  resize: none;
}

.remember {
  color: #777;
  margin-left: .3rem;
}

.button-primary {
  background: #2196f3;
  border: none;
  color: #fff;
  display: block;
  font-weight: 500;
  margin: 0;
  padding: 1rem;
  width: 175px;
}

.button-primary:hover { background: #1e88e5; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==========================================
   Clearfix
   ========================================== */

 .cf {
   clear: both;
   *zoom: 1;
 }

.cf:before,
.cf:after {
  clear: both;
  content: " ";
  display: table;
}
