/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic page elements
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 15px/1.5 "Roboto", sans-serif; }

body {
  background: #e5e5e5;
  color: #212121;
  margin: 0 0 5rem 0;
  padding: 0;
}

header {
  background: #1976d2;
  color: #fff;
  padding: .8rem;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 540px;
  width: 90%;
}

.row { margin-bottom: 1rem; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 4%;
}

.column:first-of-type { margin: 0; }

.full {
  float: none;
  width: 100%;
}

.two-thirds { width: 64.5%; }

.half { width: 48%; }

@media screen and (max-width: 500px) {
  .half {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}

.third { width: 31.5%; }

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 32px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 { font-size: 18px; }

.page-title {
  color: #fff;
  margin: 0;
}

/* ==========================================
   Navigation
   ========================================== */

nav { font-size: 15px; }

nav a {
  color: #64b5f6;
  text-decoration: none;
}

nav a:hover { color: #bbdefb; }

.current {
  cursor: default;
  color: #bbdefb;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: .8rem;
}

nav li:first-child { margin-left: 0; }

/* ==========================================
   Page elements
   ========================================== */

.hero {
  background: #2196f3;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
}

.profile__avatar {
  background: #fff url('../images/user.png') no-repeat;
  background-position: 50% 10%;
  background-size: 52px;
  border-radius: 50%;
  height: 48px;
  margin: 0 0 0 auto;
  position: relative;
  width: 48px;
}

.profile__avatar--change {
  background: rgba(0, 0, 0, 0.5) url('../images/icons/camera.png') center no-repeat;
  background-size: 22px;
  border-radius: 50%;
  display: none;
  height: 48px;
  width: 48px;
}

.profile__avatar:hover .profile__avatar--change {
  display: block;
}

.box {
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.box__header {
  color: #2196f3;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 20px;
  text-transform: uppercase;
  width: 100%;
}

.account {
  background: #fff url('../images/icons/account.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.lock {
  background: #fff  url('../images/icons/lock.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.personal {
  background: #fff  url('../images/icons/personal.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.about {
  background: #fff url('../images/icons/user.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.notification {
  background: #fff url('../images/icons/notify.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

/* ==========================================
   Forms
   ========================================== */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.textfield {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #000;
  display: block;
  outline: none;
  padding: .5rem 5px;
  width: 100%
}

.textfield:focus {
  background: #fafafa;
  border-bottom: 1px solid #2196f3; }

.textfield--textarea {
  height: 135px;
  resize: vertical;
}

.button-primary {
  background: #2196f3;
  border: none;
  color: #fff;
  display: block;
  font-weight: 500;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.button-primary:hover { background: #1e88e5; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row__user--checkbox { margin-top: 2rem; }

.checkbox-option {
  cursor: pointer;
  display: block;
}

.radio-option {
  cursor: pointer;
  display: block;
  margin-bottom: .2rem;
}

.radio-option:last-child { margin-bottom: 0; }

.checkbox-option span, .radio-option span {
  margin-left: .5rem;
}

/* ==========================================
   Clearfix
   ========================================== */

 .cf {
   clear: both;
   *zoom: 1;
 }

.cf:before,
.cf:after {
  clear: both;
  content: " ";
  display: table;
}
