/* ==========================================
   Style guide
   ========================================== */

.color-primary { #607d8b; }
.color-dark-primary { #455a64; }
.color-light-primary { #cfd8dc; }
.color-accent { #8bc34a; }
.color-background { #eee; }
.color-text { #212121; }

/* ==========================================
   Basic page elements
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font: 400 15px/1.5 "Roboto", sans-serif; }

body {
  background: #eee;
  color: #212121;
  margin: 0 0 5rem 0;
  padding: 0;
}

header {
  background: #455a64;
  color: #fff;
  padding: .5rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}

a { color: #727272; }

/* ==========================================
   Structure
   ========================================== */

.row { margin-bottom: 1rem; }

.row:last-child { margin: 0;  }

.column {
  float: left;
  margin-left: 4%;
}

.column:first-of-type { margin: 0; }

.full {
  float: none;
  width: 100%;
}

.half { width: 48%; }

@media screen and (max-width: 500px) {
  .half {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}

.nav__wrapper { width: 85%; }

.avatar--small__wrapper {
  margin: 0;
  width: 15%;
}

/* ==========================================
   Typography
   ========================================== */

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 34px;
}

.page-title {
  color: #fff;
  margin: 0;
}

/* ==========================================
   Navigation
   ========================================== */

nav a {
  color: #78909c;
  text-decoration: none;
}

nav a:hover { color: #cfd8dc; }

.current {
  color: #cfd8dc;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: .7em;
}

nav li:first-child { margin-left: 0; }

/* ==========================================
   Page elements
   ========================================== */

.page-heading {
  background: #607d8b;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
}

.box {
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #d6d6d6;
  margin-bottom: 2rem;
  padding: 2rem;
}

.box__header {
  color: #607d8b;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 20px;
  text-transform: uppercase;
  width: 100%;
}

.email {
  background: url('../images/icons/email.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.lock {
  background: url('../images/icons/password.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.personal {
  background: url('../images/icons/pin.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.about {
  background: url('../images/icons/about.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

.notification {
  background: url('../images/icons/notify.png') left no-repeat;
  background-size: 13px;
  margin-bottom: 1rem;
}

/* ==========================================
   Profile
   ========================================== */

.avatar {
  background: #fff url('../images/user.png') no-repeat;
  border-radius: 50%;
  display: block;
  padding: 0;
}

.avatar--large {
  background-position: 50% 10px;
  background-size: 140px;
  margin: 0 auto;
  height: 140px;
  width: 140px;
}

.avatar--small {
  background-position: 50% 10%;
  background-size: 24px;
  float: right;
  height: 22px;
  width: 22px;
}

/*.avatar--large .change {
  background: rgba(0, 0, 0, 0.3) url('../images/icons/camera.png') center no-repeat;
  background-size: 32px;
  border-radius: 50%;
  display: none;
  height: 160px;
  width: 160px;
}

.avatar--large:hover .change {
  display: block;
}*/

.profile-box { margin: 0 auto 2.5rem auto; }

.profile-list {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
  text-align: center;
}

.profile-list__button {
  display: inline-block;
  font-size: .9rem;
  margin-left: 5px;
}

.profile-list__button a {
  background: #8bc34a;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: .4em 0;
  text-decoration: none;
  width: 90px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.profile-list__button a:hover { background: #7cb342; }

/* ==========================================
   Forms
   ========================================== */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.textfield {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #212121;
  display: block;
  outline: none;
  padding: .8rem;
  width: 100%;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.textfield:focus { border: 1px solid #c6c6c6; }

.textfield--textarea {
  height: 135px;
  resize: vertical;
}

.button-primary {
  background: #8bc34a;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-weight: 500;
  margin: 0 auto;
  padding: .8rem;
  width: 200px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.button-primary:hover { background: #7cb342; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-wrapper { margin-top: 2rem; }

.checkbox-option {
  cursor: pointer;
  display: inline-block;
}

.radio-wrapper { display: block; }

.radio-option {
  cursor: pointer;
  margin-bottom: .2rem;
}

.radio-option:last-child { margin-bottom: 0; }

.checkbox-option span, .radio-option span { margin-left: .5rem; }

/* ==========================================
   Clearfix
   ========================================== */

 .cf {
   clear: both;
   *zoom: 1;
 }

.cf:before,
.cf:after {
  clear: both;
  content: " ";
  display: table;
}
